[Unit]
Description= <MiniRys startup script>
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/rys_init.sh

[Install]
WantedBy=multi-user.target
