/*
 * Copyright (C) 2015 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

&am33xx_pinmux {
	pru_cape_bone_pins: pru_cape_bone_pins {
		pinctrl-single,pins = <
			0x0b8 0xd // Left Dir; 		P8_39,	gpio2_12,	eQEP2_index,		/sys/class/gpio/gpio76
			0x0bc 0xd // Left Step;		P8_40,	gpio2_13,	eQEP2_strobe,		/sys/class/gpio/gpio77
			0x0b0 0xd // M0;			P8_41,	gpio2_10,	eQEP2A_in,			/sys/class/gpio/gpio74
			0x0b4 0xd // Enable;		P8_42,	gpio2_11,	eQEP2B_in,			/sys/class/gpio/gpio75
			0x0a8 0xd // M2;			P8_43,	gpio2_8,	ehrpwm2_tripzone,	/sys/class/gpio/gpio72
			0x0ac 0xd // M1;			P8_44,	gpio2_9,	ehrpwm0_synco,		/sys/class/gpio/gpio73
			0x0a0 0xd // Right Dir;		P8_45,	gpio2_6,	ehrpwm2A,			/sys/class/gpio/gpio70
			0x0a4 0xd // Right Step;	P8_46,	gpio2_7,	ehrpwm2B,			/sys/class/gpio/gpio71
		>;
	};

	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			0x158 0x72 // uart1_ctsn.i2c2_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2
			0x15c 0x72 // uart1_rtsn.i2c2_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2
		>;
	};

	cape_gpio_pins: pinmux_cape_gpio_pins {
		pinctrl-single,pins = <
			0x090 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) // P8_7, timer4, gpio2_2, /sys/class/gpio/gpio66
			0x094 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) // P8_8, timer7, gpio2_3, /sys/class/gpio/gpio67
			0x09c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) // P8_9, timer5, gpio2_5, /sys/class/gpio/gpio69
			0x098 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) // P8_10, timer6, gpio2_4, /sys/class/gpio/gpio68
			0x034 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) // P8_11, gpio1_13, gpio1_13, /sys/class/gpio/gpio45
		>;
	};

	/*bone_spi1_pins: pinmux_spi1_pins {
		pinctrl-single,pins = <
			0x190 0x13 // P9_31 = mcasp0_aclkx.spi1_sclk, OUTPUT_PULLUP | MODE3
			0x194 0x33 // P9_29 = mcasp0_fsx.spi1_d0, INPUT_PULLUP | MODE3
			0x198 0x13 // P9_30 = mcasp0_axr0.spi1_d1, OUTPUT_PULLUP | MODE3
			0x19c 0x13 // P9_28 = mcasp0_ahclkr.spi1_cs0, OUTPUT_PULLUP | MODE3
			0x164 0x12 // P9_42 = GPIO0_7 = eCAP0_in_PWM0_out.gpio0[7], OUTPUT_PULLUP | MODE2
		>;
	};*/
};

&ocp {
	i2c1: i2c@4802a000 {
		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_pins>;
		status = "okay";
		clock-frequency = <400000>;
	};

	cape_gpio {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&cape_gpio_pins>;
	};

	tscadc: tscadc@44e0d000 {
		compatible = "ti,ti-tscadc";
		reg = <0x44e0d000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <16>;
		ti,hwmods = "adc_tsc";
		status = "okay";

		adc {
			ti,adc-channels = <4 5 6>;
		};
	};

	test_helper: helper {
		compatible = "bone-iio-helper";
		vsense-name  = "AIN4", "AIN5", "AIN6";
		vsense-scale = <100 100 100>;
		status = "okay";
	};
};

&pruss {
	pinctrl-names = "default";
	pinctrl-0 = <&pru_cape_bone_pins>;
};

&tda19988 {
	status = "disabled";
};

&lcdc {
	status = "disabled";
};

/{
	hdmi {
		status = "disabled";
	};
};

&mcasp0 {
	status = "disabled";
};

/{
	sound {
		status = "disabled";
	};
};
