/*
 * Copyright (C) 2015 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

&am33xx_pinmux {
	pru_cape_bone_pins: pru_cape_bone_pins {
		pinctrl-single,pins = <

			0x0b8 0xd // P8_39 = Motor Left Direction 	= 6	
		    	0x0bc 0xd // P8_40 = Motor Left Step	 	= 7
			0x0b0 0xd // P8_41 = Motor Left M0	 	= 4
		    	0x0b4 0xd // P8_42 = Motor Left M1	 	= 5
			0x0a8 0xd // P8_43 = Motor Right Direction  	= 2
			0x0ac 0xd // P8_44 = Motor Right Step	 	= 3
			0x0a0 0xd // P8_45 = Motor Right M0  		= 0
			0x0a4 0xd // P8_46 = Motor Right M1	  	= 1
		>;
	};
};

&lcdc {
	status = "disabled";  		/* Disable HDMI due to pin mux conflicts with PRU Cape */
};

/{
	hdmi {
		status = "disabled";
	};
};

&mcasp0 {
	status = "disabled";
};

/{
	sound {
		status = "disabled";
	};
};

&pruss {
        pinctrl-names = "default";
	pinctrl-0 = <&pru_cape_bone_pins>;
};
